
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 26, 26);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-family: Space Mono;
}

.show-time {
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  align-items: center;
}

.show-time button {
  width: 50px;
  height: 40px;
}

.show-time i {
  font-size:x-large;
}

.bottom-button2 {
  width: 29.33px;
  height: 23.5px;
  padding: 3px;
}

button {
  background-color: transparent;
}

button:hover {
  cursor: pointer;;
  color: orange;
  border-color: orange;
}